html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    text-align: center;
}

p {
    color: #d2d2d2;
}

.subtitle,
h3 {
    color: white;
    font-weight: bold;
}

.p-top {
    margin: 0;
    padding-top: 2em;
}

.first {
    background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
    height: 40vh;
    display: grid;
    place-content: center;
}

.second {
    background: #1f2937;
    height: 50vh;
    display: grid;
    place-content: center;
}

/* hide arrows from input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    border: none;
    text-align: center;
    background: transparent;
    color: white;
    font-weight: bold;
    outline: none;
    font-size: 6em;
    max-width: 550px;
    margin: 0 auto;
}
